.text{
  color: white
}
.parent{
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.image_parent{
  width: 100%;
  position: relative;
}
.circle{
  width:80%;
  position: absolute;
  height: 90vh;
}
.triangle{
  width:80%;
  position: absolute;
  height: 90vh;
  
}
.stripes{
  width:80%;
  position: absolute;
  height: 90vh;
  
}
.basic{
  width:80%;
  position: absolute;
  height: 90vh;
}


@media screen and (max-width: 1024px) {
  .circle{
      height: 500px;
  }
  .basic{
    height: 500px;
}
.triangle{
  height: 500px;
}
.stripes{

    height: 500px;
}
}